<%- include ../partials/header %>

<header>
    <nav id="mainNav">
        <div class="logo">
            <h1><a href="/logbook">Logbook</a></h1>
        </div>
        <div class="nav-links">
            <div class="links">
                <a href="/logbook" class="">Home</a>
                <a href="/logbook/incoming">
                    <% if (numIncoming > 0) { %>
                    <span class="num-notification incoming"><%= numIncoming %></span>
                    <% } %>
                    Incoming
                </a>
                <a href="/logbook/approved" class="">Approved</a>
            </div>
            <div class="profile-buttons">
                <a href="/logbook/notifications">
                    <% if(currentUser.notifications.length > 0) { %>
                    <span class="num-notification notif"><%= currentUser.notifications.length %></span>
                    <% } %>
                    <i class="fas fa-bell notification-icon"></i></a>
                <a href="/logbook/profile" class="link-selected">
                    <div class="image">
                        <% if (currentUser.imageSrc && currentUser.imageSrc.length > 0) { %>
                        <img src="<%= currentUser.imageSrc %>" alt="" class="profile-image">
                        <% } else { %>
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                            alt="" class="profile-image">
                        <% } %>
                    </div>
                </a>
                <% if (currentUser) { %>
                <a href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
        <div class="hamburger-icon">
            <% if (currentUser.notifications.length > 0 || numIncoming > 0) { %>
            <span class="num-notification total"><%= currentUser.notifications.length + numIncoming %></span>
            <% } %>
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
<div class="hamburger-menu">
    <div class="menu-header">
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu-profile">
            <a href="/logbook/notifications">
                <% if(currentUser.notifications.length > 0) { %>
                <span class="num-notification notif"><%= currentUser.notifications.length %></span>
                <% } %>
                <i class="fas fa-bell notification-icon"></i></a>
            <a href="/logbook/profile" class="link-selected">
                <div class="image">
                    <% if (currentUser.imageSrc && currentUser.imageSrc.length > 0) { %>
                    <img src="<%= currentUser.imageSrc %>" alt="" class="profile-image">
                    <% } else { %>
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="" class="profile-image">
                    <% } %>
                </div>
            </a>
        </div>
    </div>
    <div class="menu-links">
        <a href="/logbook" class="">Home</a>
        <a href="/logbook/incoming">
            <% if (numIncoming > 0) { %>
            <span class="num-notification incoming"><%= numIncoming %></span>
            <% } %>
            Incoming
        </a>
        <a href="/logbook/approved" class="">Approved</a>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
    </div>
</div>

<div class="backdrop"></div>


<div class="logbook-container">
    <form action="/logbook/profile/edit?_method=PUT" class="form" id="editProfileForm" method="POST"
        enctype="multipart/form-data">
        <h2>Edit Profile</h2>
        <div class="image">
            <div class="loader" style="display: none;"></div>
            <% if (currentUser.imageSrc && currentUser.imageSrc.length > 0) { %>
            <img src="<%= currentUser.imageSrc %>" alt="" class="profile-image" id="editProfile">
            <% } else { %>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt=""
                class="profile-image" id="editProfile">
            <% } %>
        </div>
        <div class="input-group change-profile">
            <label for="profileImage" class="custom-file-upload">
                Change profile picture
            </label>
            <input type="file" id="profileImage" name="profilePicture" accept="image/*"
                value="<%= currentUser.imageSrc %> ">
            <label for="" class="custom-file-upload delete">Delete profile picture</label>
        </div>
        <div class="input-group-inline profile">
            <div class="input-group">
                <label for="firstName">First name: </label>
                <input type="text" id="firstName" name="firstName" value="<%= currentUser.firstName %>"
                    placeholder="First name">
            </div>
            <div class="input-group">
                <label for="lastName">Last name:</label>
                <input type="text" id="lastName" name="lastName" value="<%= currentUser.lastName %>"
                    placeholder="Last name">
            </div>
        </div>
        <% if (currentUser.accountType === 'NAS') { %>
        <div class="input-group course">
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" value="<%= currentUser.course %>" placeholder="Course">
        </div>
        <% } %>
        <button>Save Changes</button>
    </form>
</div>

<%- include ../partials/footer %>