<%- include ../partials/header %>
<header>
	<nav id="mainNav">
		<div class="logo">
			<h1><a href="/logbook">Logbook</a></h1>
		</div>
		<div class="nav-links">
			<div class="links">
				<a href="/logbook" class="link-selected">Home</a>
				<a href="/logbook/incoming">
					<% if (numIncoming > 0) { %>
					<span class="num-notification incoming"><%= numIncoming %></span>
					<% } %>
					Incoming</a>
				<a href="/logbook/approved">Approved</a>
			</div>
			<div class="profile-buttons">
				<a href="/logbook/notifications">
					<% if(currentUser.notifications.length > 0) { %>
					<span class="num-notification notif"><%= currentUser.notifications.length %></span>
					<% } %>
					<i class="fas fa-bell notification-icon"></i></a>
				<a href="/logbook/profile">
					<div class="image">
						<% if (currentUser.imageSrc && currentUser.imageSrc.length > 0) { %>
						<img src="<%= currentUser.imageSrc %>" alt="" class="profile-image">
						<% } else { %>
						<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
							alt="" class="profile-image">
						<% } %>
					</div>
				</a>
				<% if (currentUser) { %>
				<a href="/logout">Logout</a>
				<% } %>
			</div>
		</div>
		<div class="hamburger-icon">
			<% if (currentUser.notifications.length > 0 || numIncoming > 0) { %>
			<span class="num-notification total"><%= currentUser.notifications.length + numIncoming %></span>
			<% } %>
			<i class="fas fa-bars"></i>
		</div>
	</nav>
</header>
<div class="hamburger-menu">
	<div class="menu-header">
		<div class="menu-icon">
			<i class="fas fa-bars"></i>
		</div>
		<div class="menu-profile">
			<a href="/logbook/notifications">
				<% if(currentUser.notifications.length > 0) { %>
				<span class="num-notification notif"><%= currentUser.notifications.length %></span>
				<% } %>
				<i class="fas fa-bell notification-icon"></i></a>
			<a href="/logbook/profile">
				<div class="image">
					<% if (currentUser.imageSrc && currentUser.imageSrc.length > 0) { %>
					<img src="<%= currentUser.imageSrc %>" alt="" class="profile-image">
					<% } else { %>
					<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
						alt="" class="profile-image">
					<% } %>
				</div>
			</a>
		</div>
	</div>
	<div class="menu-links">
		<a href="/logbook" class="link-selected">Home</a>
		<a href="/logbook/incoming">
			<% if (numIncoming > 0) { %>
			<span class="num-notification incoming"><%= numIncoming %></span>
			<% } %>
			Incoming</a>
		<a href="/logbook/approved">Approved</a>
		<% if (currentUser) { %>
		<a href="/logout">Logout</a>
		<% } %>
	</div>
</div>

<div class="backdrop"></div>

<div class="logbook-container">
	<div class="table-title">
		<h1 class="office-title"><%= currentUser.department %> </h1>
		<div class="table-buttons">
			<a href="/logbook/new">Add</a>
		</div>
	</div>

	<div class="table-container">
		<div class="table">
			<div class="row table-header">
				<div class="column">DOC ID</div>
				<div class="column">RE:</div>
				<div class="column">DOC TYPE</div>
				<div class="column">DUE DATE</div>
				<div class="column">DESTINATION</div>
				<div class="column">STATUS</div>
				<div class="column">ACTION</div>
			</div>
			<div class="table-rows">
				<% logs.forEach(log => { %>
				<div class="row index">
					<div class="column"><%= log.docId %></div>
					<div class="column re">
						<% if (log.re.length > 0) { %>
						<%= log.re %>
						<% } else { %>
						-
						<% } %>
					</div>
					<div class="column doc-type">
						<% if (log.docType.length > 0) { %>
						<%= log.docType %>
						<% } else { %>
						-
						<% } %>
					</div>
					<div class="column due-date">
						<% if (log.dueDate) { %>
						<%= log.dueDate %>
						<% } else { %>
						-
						<% } %>
					</div>
					<div class="column destination">
						<div class="destinations">
							<% if (log.destinations && log.destinations.length > 0) { %>
							<% log.destinations.forEach(destination => { %>
							<% if (destination && destination.length > 0) { %>
							<p><span><%= destination %></span></p>
							<% } %>
							<% }) %>
							<% } %>
						</div>
					</div>
					<div class="column status">
						<div class="statuses">
							<% if (log.statuses && log.statuses.length > 0) { %>
							<% log.statuses.forEach((status, i) => { %>
							<% if (log.destinations[i] && log.destinations[i].length > 0) { %>
							<p><span><%= status %></span></p>
							<% } %>
							<% }) %>
							<% } %>
						</div>
					</div>
					<div class="column action">
						<div class="actions">
							<div class="loader hide"></div>
							<button class="approve-btn">Approve</button>
							<button class="delete-btn">Delete</button>
							<div class="loader hide"></div>
						</div>
					</div>
				</div>
				<% }) %>
			</div>

		</div>
	</div>
	<%- include ../partials/footer %>