<%- include ../partials/header %>
<header>
	<nav id="mainNav">
		<div class="logo">
			<h1><a href="/logbook">Logbook</a></h1>
		</div>
		<div class="nav-links">
			<div class="links">
				<a href="/logbook" class="link-selected">Home</a>
				<a href="/logbook/incoming">Incoming</a>
				<a href="/logbook/approved">Approved</a>
			</div>
			<div class="profile-buttons">
				<a href="/logbook/notifications"><i class="fas fa-bell notification-icon"></i></a>
				<a href="/logbook/profile">Profile</a>
				<% if (currentUser) { %>
				<a href="/logout">Logout</a>
				<% } %>
			</div>
		</div>
		<div class="hamburger-icon">
			<i class="fas fa-bars"></i>
		</div>
	</nav>
</header>
<div class="hamburger-menu">
	<div class="menu-header">
		<div class="menu-icon">
			<i class="fas fa-bars"></i>
		</div>
		<div class="menu-profile">
			<a href="/logbook/notifications"><i class="fas fa-bell notification-icon"></i></a>
			<a href="/logbook/profile">Profile</a>
		</div>
	</div>
	<div class="menu-links">
		<a href="/logbook" class="link-selected">Home</a>
		<a href="/logbook/incoming">Incoming</a>
		<a href="/logbook/approved">Approved</a>
		<% if (currentUser) { %>
		<a href="/logout">Logout</a>
		<% } %>
	</div>
</div>

<div class="backdrop"></div>

<div class="logbook-container">
	<div class="table-title">
		<h1 class="office-title"><%= currentUser.department %> </h1>
		<div class="table-buttons">
			<button> <a href="/logbook/new">Add</a></button>
		</div>
	</div>

	<div class="table-container">
		<div class="table">
			<div class="row table-header">
				<div class="column">DOC ID</div>
				<div class="column">RE:</div>
				<div class="column">DOC TYPE</div>
				<div class="column">DUE DATE</div>
				<div class="column">DESTINATION</div>
				<div class="column">STATUS</div>
				<div class="column">ACTION</div>
			</div>
			<% logs.forEach(log => { %>
			<div class="row">
				<div class="column doc-id"><%= log.docId %> </div>
				<div class="column re">
					<% if (log.re.length > 0) { %>
					<%= log.re %>
					<% } else { %>
					-
					<% } %>
				</div>
				<div class="column doc-type">
					<% if (log.docType.length > 0) { %>
					<%= log.docType %>
					<% } else { %>
					-
					<% } %>
				</div>
				<div class="column due-date">
					<% if (log.dueDate) { %>
					<%= log.dueDate %>
					<% } else { %>
					-
					<% } %>
				</div>
				<div class="column destination">
					<div class="destinations">
						<p>
							<% if (log.destination.length > 0) { %>
							<%= log.destination %>
							<% } else { %>
							-
							<% } %>
						</p>
					</div>
				</div>
				<div class="column status">
					<div class="statuses">
						<% if (log.status.length > 0) { %>
						<%= log.status %>
						<% } else { %>
						-
						<% } %>
					</div>
				</div>
				<div class="column action">
					<div class="actions">
						<button class="approve-btn">Approve</button>
						<button class="delete-btn">Delete</button>
					</div>
				</div>
			</div>
			<% }) %>

		</div>
	</div>
	<%- include ../partials/footer %>