<%- include ../partials/header %>
<header>
    <nav id="mainNav">
        <div class="logo">
            <h1><a href="/logbook">Logbook</a></h1>
        </div>
        <div class="nav-links">
            <div class="links">
                <a href="/logbook" class="">Home</a>
                <a href="/logbook/incoming">Incoming</a>
                <a href="/logbook/approved">Approved</a>
            </div>
            <div class="profile-buttons">
                <a href="/logbook/notifications"><i class="fas fa-bell notification-icon"></i></a>
                <a href="/logbook/profile">Profile</a>
                <% if (currentUser) { %>
                <a href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
        <div class="hamburger-icon">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
<div class="hamburger-menu">
    <div class="menu-header">
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu-profile">
            <a href="/logbook/notifications"><i class="fas fa-bell notification-icon"></i></a>
            <a href="/logbook/profile">Profile</a>
        </div>
    </div>
    <div class="menu-links">
        <a href="/logbook" class="">Home</a>
        <a href="/logbook/incoming">Incoming</a>
        <a href="/logbook/approved">Approved</a>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
    </div>
</div>

<div class="backdrop"></div>

<div class="logbook-container">

    <div class="table-title title-only">
        <h1 class="office-title"><%= currentUser.department %></h1>
    </div>

    <form action="/logbook/new" method="POST" id="logbookLogForm" class="form">
        <h2>Add a new log</h2>
        <div class="input-group">
            <label for="logRe">Re:</label>
            <!-- <input name="re" type="textarea" id="logRe" placeholder="Re" /> -->
            <div class="invalid-input">Please input a re:</div>
            <textarea name="re" id="logRe" cols="30" rows="10" required></textarea>
        </div>
        <div class="input-group-inline add-new-log docdue">
            <div class="input-group">
                <label for="logDocType">Document Type</label>
                <input name="docType" type="text" id="logDocType" placeholder="Document type" />
            </div>
            <div class="input-group">
                <label for="logDueDate">Due date</label>
                <input name="dueDate" type="date" id="logDueDate" placeholder="Due date" />
            </div>
        </div>
        <!-- <div class="input-group-inline selects"> -->
        <div class="input-group-select">
            <div class="input-group">
                <label for="logDestination">Destination 1</label>
                <div class="invalid-input">Please enter a destination</div>
                <select name="destinations[destination1]" id="logDestination" class="destinations-select" required>
                    <option value="" selected disabled>Department</option>
                    <% departments.forEach(department => { %>
                    <% if (department.abbreviation !== currentUser.department) { %>
                    <option value=<%= department.abbreviation %>><%= department.name %> </option>
                    <% } %>
                    <% }) %>
                </select>
            </div>
            <button class="add-destination">+</button>
        </div>
        <% for( let i = 1; i < departments.length; i++ ) { %>
        <div class="input-group-select" style="display: none;">
            <div class="input-group">
                <label for=<%= `logDestination${i + 1}` %>>Destination <%= i + 1 %> (optional)</label>
                <select name=<%= `destinations[destination${i + 1}]` %> id=<%= `logDestination${i + 1}` %>
                    class="destinations-select">
                    <option value="" selected disabled>Department</option>
                    <% departments.forEach(department => { %>
                    <% if (department.abbreviation !== currentUser.department) { %>
                    <option value=<%= department.abbreviation %>><%= department.name %> </option>
                    <% } %>
                    <% }) %>
                </select>
            </div>
            <button class="add-destination">+</button>
        </div>
        <% } %>
        <!-- <div class="input-group select">
                <label for="logDestination">Destination 2 (optional)</label>
                <select name="destination2" id="logDestination" class="destinations-select">
                    <option value="" selected disabled>Department</option>
                    <% departments.forEach(department => { %>
                    <% if (department.abbreviation !== currentUser.department) { %>
                    <option value=<%= department.abbreviation %>><%= department.name %> </option>
                    <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="input-group select">
                <label for="logDestination">Destination 3 (optional)</label>
                <select name="destination3" id="logDestination" class="destinations-select">
                    <option value="" selected disabled>Department</option>
                    <% departments.forEach(department => { %>
                    <% if (department.abbreviation !== currentUser.department) { %>
                    <option value=<%= department.abbreviation %>><%= department.name %> </option>
                    <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="input-group select">
                <label for="logDestination">Destination 4 (optional)</label>
                <select name="destination4" id="logDestination" class="destinations-select">
                    <option value="" selected disabled>Department</option>
                    <% departments.forEach(department => { %>
                    <% if (department.abbreviation !== currentUser.department) { %>
                    <option value=<%= department.abbreviation %>><%= department.name %> </option>
                    <% } %>
                    <% }) %>
                </select>
            </div> -->

        <!-- </div> -->
        <div class="input-group">
            <button>Add</button>
        </div>
    </form>
</div>
<%- include ../partials/footer %>