<%- include ../partials/header %>
<header>
    <nav id="mainNav">
        <div class="logo">
            <h1><a href="/logbook">Logbook</a></h1>
        </div>
        <div class="nav-links">
            <div class="links">
                <a href="/logbook" class="">Home</a>
                <a href="/logbook/incoming">
                    <% if (numIncoming > 0) { %>
                    <span class="num-notification incoming"><%= numIncoming %></span>
                    <% } %>
                    Incoming</a>
                <a href="/logbook/approved" class="">Approved</a>
            </div>
            <div class="profile-buttons">
                <a href="/logbook/notifications" class="link-selected">
                    <% if(currentUser.notifications.length > 0) { %>
                    <span class="num-notification notif"><%= currentUser.notifications.length %></span>
                    <% } %>
                    <i class="fas fa-bell notification-icon"></i></a>
                <a href="/logbook/profile" class="">
                    <div class="image">
                        <% if (currentUser.profilePicture && currentUser.profilePicture.length > 0) { %>
                        <img src="<%= currentUser.profilePicture %>" alt="" class="profile-image">
                        <% } else { %>
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                            alt="" class="profile-image">
                        <% } %>
                    </div>
                </a>
                <% if (currentUser) { %>
                <a href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
        <div class="hamburger-icon">
            <% if (currentUser.notifications.length > 0 || numIncoming > 0) { %>
            <span class="num-notification total"><%= currentUser.notifications.length + numIncoming %></span>
            <% } %>
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
<div class="hamburger-menu">
    <div class="menu-header">
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu-profile">
            <a href="/logbook/notifications" class="link-selected">
                <% if(currentUser.notifications.length > 0) { %>
                <span class="num-notification notif"><%= currentUser.notifications.length %></span>
                <% } %>
                <i class="fas fa-bell notification-icon"></i></a>
            <a href="/logbook/profile">
                <div class="image">
                    <% if (currentUser.profilePicture && currentUser.profilePicture.length > 0) { %>
                    <img src="<%= currentUser.profilePicture %>" alt="" class="profile-image">
                    <% } else { %>
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="" class="profile-image">
                    <% } %>
                </div>
            </a>
        </div>
    </div>
    <div class="menu-links">
        <a href="/logbook" class="">Home</a>
        <a href="/logbook/incoming">
            <% if (numIncoming > 0) { %>
            <span class="num-notification incoming"><%= numIncoming %></span>
            <% } %>
            Incoming</a>
        <a href="/logbook/approved">Approved</a>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
    </div>
</div>

<div class="backdrop"></div>

<div class="login-container">
    <div class="notifications">
        <% notifications.forEach(notification => { %>
        <% if (currentUser.notifications.includes(notification.text)) { %>
        <div class="notification unread"><%= notification.text %></div>
        <% } else { %>
        <div class="notification"><%= notification.text %></div>
        <% } %>
        <% }) %>
    </div>
</div>
<%- include ../partials/footer %>