<%- include ../partials/header %>
<header>
    <nav id="mainNav">
        <div class="logo">
            <h1><a href="/logbook">Logbook</a></h1>
        </div>
        <div class="nav-links">
            <div class="links">
                <a href="/logbook" class="">Home</a>
                <a href="/logbook/incoming">
                    <% if (numIncoming > 0) { %>
                    <span class="num-notification incoming"><%= numIncoming %></span>
                    <% } %>
                    Incoming</a>
                <a href="/logbook/approved" class="">Approved</a>
            </div>
            <div class="profile-buttons">
                <a href="/logbook/notifications">
                    <% if(currentUser.notifications.length > 0) { %>
                    <span class="num-notification notif"><%= currentUser.notifications.length %></span>
                    <% } %>
                    <i class="fas fa-bell notification-icon"></i></a>
                <a href="/logbook/profile" class="link-selected">
                    <div class="image">
                        <% if (currentUser.profilePicture && currentUser.profilePicture.length > 0) { %>
                        <img src="<%= currentUser.profilePicture %>" alt="" class="profile-image">
                        <% } else { %>
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                            alt="" class="profile-image">
                        <% } %>
                    </div>
                </a>
                <% if (currentUser) { %>
                <a href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
        <div class="hamburger-icon">
            <% if (currentUser.notifications.length > 0 || numIncoming > 0) { %>
            <span class="num-notification total"><%= currentUser.notifications.length + numIncoming %></span>
            <% } %>
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
<div class="hamburger-menu">
    <div class="menu-header">
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu-profile">
            <a href="/logbook/notifications">
                <% if(currentUser.notifications.length > 0) { %>
                <span class="num-notification notif"><%= currentUser.notifications.length %></span>
                <% } %>
                <i class="fas fa-bell notification-icon"></i></a>
            <a href="/logbook/profile" class="link-selected">
                <div class="image">
                    <% if (currentUser.profilePicture && currentUser.profilePicture.length > 0) { %>
                    <img src="<%= currentUser.profilePicture %>" alt="" class="profile-image">
                    <% } else { %>
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="" class="profile-image">
                    <% } %>
                </div>
            </a>
        </div>
    </div>
    <div class="menu-links">
        <a href="/logbook">Home</a>
        <a href="/logbook/incoming">
            <% if (numIncoming > 0) { %>
            <span class="num-notification incoming"><%= numIncoming %></span>
            <% } %>
            Incoming</a>
        <a href="/logbook/approved">Approved</a>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
    </div>
</div>

<div class="backdrop"></div>

<div class="profile">
    <div class="profile-header">User Profile</div>
    <div class="profile-container">
        <div class="profile-card">
            <div class="info">
                <a href="/logbook/profile/edit" class="edit-link">Edit profile</a>
                <div class="image">
                    <% if (currentUser.profilePicture && currentUser.profilePicture.length > 0) { %>
                    <a href="<%= currentUser.profilePicture %> "><img src="<%= currentUser.profilePicture %>" alt=""
                            class="profile-image"></a>
                    <% } else { %>
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="" class="profile-image">
                    <% } %>
                </div>
                <div class="desc">
                    <p><span>Name:</span> <span><%= currentUser.firstName + ' ' + currentUser.lastName %></span></p>
                    <p><span>Department:</span> <span><%= currentUser.department %></span></p>
                    <p><span>Account Type:</span> <span><%= currentUser.accountType %></span></p>
                    <% if (currentUser.accountType === 'NAS') { %>
                    <p>
                        <span>Course:</span>
                        <span>
                            <% if (currentUser.course && currentUser.course.length > 0) { %>
                            <%= currentUser.course %>
                            <% } else { %>
                            N/A
                            <% } %>
                        </span>
                    </p>
                    <% } %>
                </div>
            </div>

            <div class="logs">
                <div class="log-header">
                    Activity Log
                </div>
                <ul class="log">
                    <% activityLogs.forEach(activityLog => { %>
                    <li><%= activityLog.log %></li>
                    <% }) %>
                </ul>
                <% if (activityLogs.length > 10) { %>
                <a class="see-more">See More</a>
                <% } %>
            </div>
        </div>
        <!-- <div class="user-profile-buttons">
            <button>Change Password</button>
            <button><a href="/logbook">Home</a></button>
        </div> -->
    </div>
</div>
<%- include ../partials/footer %>